<script type="text/ng-template" id="frmAddNuevoProyecto.html">
    <div class="modal-header text-center">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title font-madecentro" style="font-weight: 600;">Selección de proyectos</h4>
    </div>
    <div class="modal-body" style="background-color: #f9f9f9;">
        <div class="row">
            <pre>{{obj_producto_seleccionado | json}}</pre>
        </div>
        <div class="row">
            <div class="col-md-12">
                <select class="form-control font-madecentro font_size_15px"
                        id="seleccion_proyecto"></select>
            </div>
        </div>
        <div class="row">
            <pre>{{obj_data_producto | json}}</pre>
        </div>
    </div>
    <div class="modal-footer text-center">
        <button class="btn btn-default font_size_16px" ng-click="" type="submit">Guardar</button>
        <button class="btn btn-default font_size_16px" ng-click="cancel()" type="button">Cancelar</button>
    </div>
</script>