<script type="text/ng-template" id="frmAddNuevoProyecto.html">
    <div class="modal-header text-center">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title font-madecentro" style="font-weight: 600;">Selección de proyectos</h4>
    </div>
    <div class="modal-body" style="background-color: #f9f9f9;">
        <!--<div class="row">
            <pre>{{obj_producto_seleccionado | json}}</pre>
        </div>-->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Filtrar Producto:</label>

                    <select class="form-control font-madecentro font_size_15px"
                            id="seleccion_proyecto"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <!--<pre>{{data_materiales_producto | json}}</pre>-->            
            <div class="col-md-12">
                <table class="table table-hover table-condensed table-striped" ng-if="obj_producto_seleccionado.ID_ITEM != null">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Código</th>
                            <th>Referencia</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>% Margen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img alt="zoom"
                                     class="img-previa" src="./assets/img/image001.png" />

                                <!--<img alt="zoom1"
                                     class="img-previa"
                                     onerror="this.src = 'Assets/img/placeholder.png';">-->
                                <!--ng-src="http://192.168.1.42/SGD/PRO/G4/AGNRNGW215.jpg"-->
                            </td>
                            <td>{{obj_producto_seleccionado.ID_ITEM}}</td>
                            <td>{{obj_producto_seleccionado.ID_REFERENCIA}}</td>
                            <td>{{obj_producto_seleccionado.DESCRIPCION}}</td>
                            <td>
                                <input aria-describedby="basic-addon1"
                                       class="form-control"
                                       ng-model="obj_producto_seleccionado.cantidad"
                                       placeholder="..."
                                       required
                                       ui-number-mask="0">
                            </td>
                            <td>
                                <input aria-describedby="basic-addon1"
                                       class="form-control"
                                       ng-model="obj_producto_seleccionado.margen"
                                       placeholder="..."
                                       required
                                       x-validacion-auto="porcentaje">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
        <div class="row" ng-if="obj_producto_seleccionado.data_materiales_producto.length > 0">
            <!--<legend class="font-rta encabezado_legend"><i class="fa fa-th" aria-hidden="true"></i>&nbsp;Materiales</legend>-->
            <div class="col-md-10 col-md-offset-1">                
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-th" aria-hidden="true"></i>&nbsp;Materiales
                        </h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover table-condensed table-striped" >
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Referencia</th>
                                    <th>Descripción</th>
                                    <th>Cantidad Requerida</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in obj_producto_seleccionado.data_materiales_producto">
                                    <td>{{item.ID_COD_ITEM_C}}</td>
                                    <td>{{item.ID_REFER_C}}</td>
                                    <td>{{item.DESCRIPCION_C}}</td>
                                    <td>{{item.CANTIDAD_REQUERIDA | number: 2}}</td>
                                </tr>
                            </tbody>
                        </table>                        
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="modal-footer text-center">
        <button class="btn btn-rta font_size_16px" ng-click="guardar_item()" type="submit">Guardar</button>
        <button class="btn btn-default font_size_16px" ng-click="cancel()" type="button">Cancelar</button>
    </div>
</script>

