<div class="content-wrapper"
     ng-click="hide_filtros()"
     style="background-color: #f9f9f9; padding-top: 18px; min-height: 587px;">

    <div class="col-md-10 col-md-offset-1">
        <div class="box" ng-if="$root.mostrarMenu  && $root.showMenuByErrorHttp">
            <div class="box-header with-border text-center">
                <h3 class="box-title" style="font-weight: bold;font-size: 20px;">Cotizaciones</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12"
                         ng-if="verificarPerfil(item.sref)"
                         ng-repeat="item in listItemsMenu" 
                         ui-sref="{{item.sref}}">
                        <div class="info-box">
                            <span class="info-box-icon bg-box-rta">
                                <i class="fa fa-{{item.icon_class}}" style="color: #33251e;"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text" style="padding-top: 24px;font-weight: bold;font-size: 16px;">{{item.d_menu}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-view="templateModal"></div>